<div>
  <table>
    <tr class="col-md-12">
      <td>
        <label class="col-md-9">Page Size :</label>
      </td>
      <td>
        <select (change)="PageSizeChange()" class="form-control" name="PageSize" [(ngModel)]="objBook.PageSize">Select Page Size
          <option>10</option>
          <option>5</option>
          <option>3</option>
        </select>
      </td>

      <td>
        <button type="button" class="btn btn-primary" style="margin-left: 510px;" (click)="ShowModal('Add')">Add Books</button>
      </td>
    </tr>
  </table>
</div>
<br/>
<div class="d-flex justify-content-center">
  <h1>Books List</h1>
</div>

<div>
  <table class="table" id='tab'>
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Cateogry</th>
        <th scope="col">Book Publication</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of list">
        <td>{{ book.BookId }}</td>
        <td>{{ book.BookName }}</td>
        <td>{{ book.CategoryName }}</td>
        <td>{{ book.PublisherName }}</td>
        <td><button type="button" class="btn btn-info" (click)="OpenDailog(book.BookId,'Update')">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="DeleteEvent.emit(book)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="this.objBook.TotalPages * 10" [maxSize]="5" [(page)]="objBook.PageNumber"
      [pageSize]="PageSize" (pageChange)="PageChange()"></ngb-pagination>
  </div>
</div>