
<div class="d-flex justify-content-center">
  <h1>Books List</h1>
</div>

<div>
  <table class="table" id='tab'>
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Cateogry</th>
        <th scope="col">Book Publication</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of list">
        <td>{{ book.BookId }}</td>
        <td>{{ book.BookName }}</td>
        <td>{{ book.CategoryName }}</td>
        <td>{{ book.PublisherName }}</td>
        <td><button type="button" class="btn btn-info" (click)="OpenDailog(book.BookId)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="DeleteEvent.emit(book)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <form #pagesizeform="ngForm">
      <!-- <ngb-pagination [collectionSize]="TotalRecords" [(page)]="book.PageNumber" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="PageSizeEvent.emit(pagesizeform.value)"
      [boundaryLinks]="true"></ngb-pagination> -->
      <label name="PageNumber" [(ngModel)]="PageNumber">
        <ngb-pagination [collectionSize]="TotalRecords" [(page)]="PageNumber" [pageSize]="PageSize"
          (pageChange)="PageSizeEvent.emit(pagesizeform.value)"></ngb-pagination>
      </label>
    </form>

  </div>
</div>